.excuse-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

button {
    width: 200px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #FCC9C5;
    transition: 0.5s;
}

button:not(:hover) {
    background-color: white;
    transition: 0.5s;
}

button:active {
    color: white;
    transition: 0.1s;
}


p {
    text-align: center;
}